<div class="sidebar">
  <div class="container ">
    <div class="sidebar-about">
      <div class="logo">
        <img src="{{ site.baseurl }}public/images/eureka-light-bulb-fll-2022.png">
      </div>
      

      <h1>
        <a href="{{ site.baseurl }}">
          Eureka
        </a>
      </h1>
      <h2 class="lead">
          FIRST Lego League team #51206
      </h2>
      <h3 class="lead">
          Austin, Texas
      </h3>

    </div>

    {% comment %}
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% endcomment %}

      <h3 class="sidebar-nav-item"></h3>
      <div class="jackpots"><a href="{{ site.baseurl }}2023-registration">2023 Season Registration</a></div>

      <h3 class="sidebar-nav-item">Seasons</h3>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2022-world-championship">2022 - World Championship</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2022">2022 - Cargo Connect</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2021">2021 - RePlay</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}2020">2020 - Boomtown Build</a>


      <h3 class="sidebar-nav-item"></h3>
      <div>
        <a href="https://www.firstinspires.org">
          <img class="sidebar-nav-item"  src="{{ site.baseurl }}public/images/FIRST-V.png.webp" style="height:50%; width:50%; background-color: white;">
        </a>

        <a href="https://firstintexas.org">
          <img class="sidebar-nav-item"  src="{{ site.baseurl }}public/images/first-in-texas.png" style="height:50%; width:50%;">
        </a>
        
      </div>
    </nav>
    <p>&copy; 2019 - {{ site.time | date: '%Y' }}.Team Eureka #51206.</p>
    <p>All rights reserved.</p>
  </div>
</div>
